* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 48px;
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
  body {
    padding: 24px;
  }
}

.container {
  background-color: white;
  box-shadow: 0px 8px 8px -8px gray;
  padding: 32px;
  border-radius: 8px;
}
